
/**
 * Site Footer
 */

.site-footer {
  color: $color-blue;
  background-color: $footer-bkg;
  text-align: center;
  // font-size: 0.875em;
  font-family: $font-base;
  @include breakpoint($bp-med){
    text-align: left;
  }
  h5, .h5 {
    color: inherit;
    font-size: 14px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  a {
    font-size: 14px;
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }

  .site-branding{
    margin-bottom: 1.5625em;
    padding-top: 0;
  }

  .footer-hours-section{
    ul{
      padding-left: 0;
      list-style: none;
      li{
        font-size: 14px;
      }
      li + li{
        margin-top: 0;
      }
    }
  }
  h5.social-nav-title{
    @include breakpoint($bp-large){
      padding-right: 20px;
    }
  }
  h5.social-nav-title, h5.contact-nav-title, .nav-title{
    font-size: 18px;
    font-family: $font-base;
    text-transform: uppercase;
    margin-bottom: 1.125em;
  }
  .social-nav{
    color: $color-teal;
    @include breakpoint($bp-med){
      height: 139px;
      width: 73%;
      float: right;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li + li{
      margin-left: 0;
    }
    .social-facebook-svg, .social-twitter-svg, .social-linkedin-svg, .social-instagram-svg{
      width: 40px !important;
      @include breakpoint($bp-large){
        width: auto !important;
      }
    }
  }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  padding: 3em 0;
  @include breakpoint($bp-med){
    padding-top: 6em;
  }
  .l-footer-item{
    &:nth-of-type(1){
      width: 100%;
      @include breakpoint($bp-med){
        width: 30%;
        margin-top: -50px;
      }
    }
    &:nth-of-type(2){
      @include breakpoint($bp-med){
        width: 27%;
      }
    }
    &:nth-of-type(3){
      @include breakpoint($bp-med){
        width: 15%;
      }
    }
    &:nth-of-type(4){
      @include breakpoint($bp-med){
        width: 15%;
      }
    }
  }
  .footer-copy{
    color: #647F95;
  }
}

.site-info {
  padding: 2em 0;
  border-top: 1px solid $border-color;
  padding-bottom: 3em;
}


/**
 * Site Address
 */

.address-block {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }

  .address-title {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.address-contact-info {
  margin-top: 0.5em;
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;
  font-size: 14px;

  @include breakpoint($bp-med) {
    text-align: left;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 4px;
  text-align: center;

  @include breakpoint($bp-med) {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
    color: $color-teal;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.title-bold{
  color: $color-blue;
  font-weight: 700;
}

small{
  font-size: 100%;
}
