
/**
 * Site Header
 */

.site-header {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $header-bkg;
  transition: padding 250ms, background-color 250ms, transform 250ms;
  transform: translateZ(0);
  z-index: 50;

  @supports ( position: sticky ) {
    position: relative;
  }

  @include breakpoint($bp-med) {
    display: block;
  }

  @media ( min-width: $bp-med ) and ( min-height: $bp-height-med ) {
    position: fixed;
    z-index: 100;

    @supports ( position: sticky ) {
      position: sticky;
    }
  }

  .admin-bar & {
    @media ( min-width: $bp-med ) and ( min-height: $bp-height-med ) {
      top: 2em;
    }
  }

  &.minify-header {
    @media ( min-width: $bp-med ) and ( min-height: $bp-height-med ) {
      background-color: rgba( $header-bkg, 0.95 );
      box-shadow: $box-shadow;

      // Add fancy background blur effect
      // - Disable if slow
      @supports ( backdrop-filter: blur(10px) ) {
        background-color: rgba( #fff, 0.75 );
        backdrop-filter: blur(10px);
      }
    }
  }

  .wrap {
    position: relative;
  }
}


/**
 * Site Logo
 */

.site-branding {
  transition: transform 500ms;
  transform-origin: center left;
  @include breakpoint($bp-med){
    padding-top: 1.125em;
  }

  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      svg,
      img {
        opacity: 0.75;
      }
    }
  }

  svg,
  img {
    display: block;
    transition: opacity 500ms;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .minify-header & {
    @media ( min-width: $bp-med ) and ( min-height: $bp-height-med ) {
      // Fix image blur - 'translateZ' forces hardware
      // acceleration for soother animation
      transform: translateZ(0) scale(.85);
      // Fix image blur - Simplifies the animation
      // to front-face only
      backface-visibility: hidden;
    }
  }
}


/**
 * Site Navigation (optional)
 * ---
 * Group and position navs
 */

.site-navigation {
  padding-top: 1.5em;
  transition: padding-top 500ms;

  .minify-header & {
    @media ( min-width: $bp-med ) and ( min-height: $bp-height-med ) {
      padding-top: 0.75em;
    }
  }
}

.contact-header{
  display: flex;
  align-items: center;
  p{
    margin-bottom: 0;
  }
}
