
.page-template-template-home {

}


.page-template-template-home{
  .home-alert-split-section{
    margin-top: -12em;
    position: relative;
    z-index: 9;
    .alert-box {
      background-color: $color-white;
      box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
      a{
        text-decoration: none
      }
      .content{
        color: $text-color;
        padding: 2em;
        @include breakpoint($bp-large){
          padding: 0 3em;
        }
        h2{
          font-size: 1.75em;
        }
        p{
          font-size: 1.125em;
        }
      }
      .photo-box{
        background-color: $color-teal;
        overflow: hidden;
        position: relative;
        height: 200px;
        @include breakpoint($bp-med){
          min-height: 210px;
        }
        @include breakpoint($bp-xl){
          min-height: 220px;
        }
        img{
          height: auto;
          @include block-fit-cover();
        }
      }
      .l-two-thirds{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include breakpoint($bp-large){
          flex-direction: row;
        }
        .l-two-third-col{
          width: 100%;
          @include breakpoint($bp-large){
            padding-left: 0;
            width: 71.666%;
          }
        }
        .l-one-third-col{
          float: left;
          width: 100%;
          @include breakpoint($bp-large){
            width: 28.333%;
          }
        }
      }
    }
    .alert-footer{
      flex-direction: column;
      display: flex !important;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
      p{
        flex: 2;
      }
      .button-four{
        flex: 1;
      }
      .button{
        padding: 1em 1.5em;
        height: 57px;
        display: flex !important;
        @include breakpoint($bp-large){
          padding: 0px 30px;
        }
      }
    }

  }
  .home-top-split-section.split-block-layout{
      background-color: $color-tan;
      position: relative;
      padding-top: 13.5em;
      margin-top: -156px;
      overflow: hidden;
      padding-bottom: 0 !important;
      @include breakpoint($bp-large){
        padding-bottom: 3.5em !important;
      }
      ul{
        background: $color-white;
        list-style: none;
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
        padding: 3em 3em;
        li{
          border-top: 1px solid $border-color;
          .button{
            justify-content: space-between;
            border: none;
            color: $color-blue;
            padding: 1.5em 0.5em;
            &:hover{
              background-color: transparent;
              color: $color-teal;
              &:after{
                content: url(../svg/icons/button-right-arrow-icon-teal.svg);
              }
            }
            &:after{
              content: url(../svg/icons/button-right-arrow-icon.svg);
              margin-left: 1em;
            }
          }
          + li{
            margin-top: 0;
          }
          &:last-child{
              border-bottom: 1px solid $border-color;
          }
        }
      }
      &:before{
        content: url(../img/src/branding/bg-pattern.png);
        left: 0;
        position: absolute;
        top: 0;
      }
      .split-block-col{
        width: 100%;
        &:last-child{
          height: 300px;
          @include breakpoint($bp-large){
            height: auto;
          }
        }
        @include breakpoint($bp-large){
          width: 50%;
        }
        .split-block-content{
          padding: 0;
          justify-content: center;
          @include breakpoint($bp-large){
            justify-content: flex-start;
          }
          h2{
            font-size: 2em;
            @include breakpoint($bp-med){
              font-size: 2.25em;
            }
          }
          p{
            font-size: 1em;
            @include breakpoint($bp-med){
              font-size: 1.125em;
            }
          }
          .split-block-content-inner-wrap{
            padding: 2em;
            padding-top: 0;
            @include breakpoint($bp-large){
              margin-left: auto !important;
              max-width: 600px;
              padding-left: 0;
              padding-right: 7em;
            }
          }
        }
      }
    }
  .home-card-section{
    background-color: $color-teal;
    .l-grid-item{
      &:nth-of-type(1){
        .button{
          @include button-three($button-color-three);
        }
      }
      &:nth-of-type(3){
        .button{
          @include button-four($button-color-two);
        }
      }
    }
    .card{
      box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
      text-align: center;
      background-color: $color-white;
      padding: 2em;
      padding-bottom: 2.5em;
      a{
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        @include breakpoint($bp-xl){
          min-height: 400px;
          height: 500px;
        }
        .card-header{
          img{
            margin-bottom: 25px;
          }
          h2{
            font-size: 2em;
            @include breakpoint($bp-med){
              font-size: 2.25em;
            }
          }
          p{
            font-size: 1em;
            color: $color-blue;
            @include breakpoint($bp-med){
              font-size: 1.125em;
            }
          }
        }
      }
    }
  }
  .home-quote-section{
     position: relative;
     overflow: hidden;
     background-color: $color-blue;
     height: 590px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    img{
      @include block-fit-cover();
      opacity: 0.6;
    }
    .wrap{
      position: relative;
      z-index: 5;
    }
    .slide-content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    .quote-logo{
      margin-bottom: 2em;
    }
    .quote-body{
      h2{
        color: $color-white;
        margin-bottom: 1em;
        font-size: 1.75em;
      }
      span{
        color: $color-white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.125em;
      }
    }
  }
  .home-bottom-split-section.split-block-layout{
    min-height: 50.25em;
    background-color: $color-tan;
    position: relative;
    &:before{
      content: url(../img/src/branding/bg-pattern-2.png);
      right: 0;
      position: absolute;
      bottom: 0;
    }
    .split-block-content-inner-wrap{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2{
        font-size: 2em;
        @include breakpoint($bp-med){
          font-size: 2.25em;
        }
      }
      p{
        font-size: 1.125em;
      }
    }
  }
  .home-partner-section{
    text-align: center;
    h2{
      font-size: 2em;
      @include breakpoint($bp-med){
        font-size: 2.25em;
      }
    }
  }
  .home-newsletter-section{
    background-color: $color-teal;
    color: $color-white;
    input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea{
      color: white !important;
    }
    ::placeholder{
      color: white !important;
      font-size: 1.125em;
      font-weight: 700;
    }
    .l-grid-item{
      &:nth-of-type(1){
        display: flex;
        align-items: center;
       }
      &:nth-of-type(2){
        @include breakpoint($bp-med){
          margin-top: 0.5em;
        }
        .gfield_label{
         display: none;
        }
        .gform_footer{
          position: relative;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          &:after{
            content: url(../svg/icons/button-arrow-white.svg);
            position: absolute;
            bottom: 0;
            right: 31px;
            top: 20px;
          }
          &:hover{
            &:after{
              content: url(../svg/icons/button-arrow-teal.svg) !important;
            }
          }
          .gform_button{
            @include button-two($button-color-four);
            padding-right: 60px;
            height: 63px;
            margin-bottom: 0;
            &:hover{
              color: $color-teal;
              background-color: $color-white;
            }
          }
        }
        .ginput_container_email{
          input{
            padding: 13px !important;
            border: 3px solid white;
            background: transparent;
            border-right: none;
            @include breakpoint($bp-med){
              padding: 20px !important;
            }
          }
        }
       }
      }
    .form-header{
      @include breakpoint($bp-large){
        padding-right: 9.0625em;
      }
      h2{
        margin-bottom: 0;
        font-size: 2em;
        color: white;
        @include breakpoint($bp-med){
          font-size: 2.25em;
        }
      }
    }
    form{
      display: flex;
      .gform_body{
        flex: 1;
      }
      .gfield_label{
        visibility: hidden;
      }
    }
  }
}


.ea-card {
  border-radius: none !important;
  border-radius: 0 !important;
}
