
.blog-page {

  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 2px solid $border-color;
    }
  }
}


footer.entry-footer{
  .button{
    display: inline-block;
  }
}
