
/**
 * Buttons
 */

.ip-button-green{
  @include button-two( $button-color);
  display: inline-block !important;
}
.ip-button-blue{
  @include button-five( $button-color-five);
  display: inline-block !important;
}
.ip-button-orange{
  @include button-four( $button-color-two);
  display: inline-block !important;
}
.ip-button-orange--light{
  @include button-three( $button-color-three);
  display: inline-block !important;
}
.ip-button-white{
  @include button( $button-color-four );
  transition: color 500ms, border-color 500ms;
  display: inline-block !important;
  &:hover,
  &:focus {
    transition: color 500ms, border-color 500ms;
    border-color: $button-color-three--hover;
    background-color: $button-color-three--hover;
  }
}


.button,
input[type="submit"] {
  @include button-two( $button-color-four);
  display: inline-block !important;
}

.text-button {
  @include button-reset;
  padding: 0.15em 0;
  border-bottom: 2px solid $button-color;
  color: $button-color;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 500ms, border-bottom-color 500ms;

  &:hover,
  &:focus {
    border-bottom-color: $button-color--hover;
    color: $button-color--hover;
  }
}


.button-one{
  @include button( $button-color-four );
  transition: color 500ms, border-color 500ms;
  &:hover,
  &:focus {
    transition: color 500ms, border-color 500ms;
    border-color: $button-color-three--hover;
    background-color: $button-color-three--hover;
  }
}

.button{
  @include button-two( $button-color );
  transition: color 500ms, border-color 500ms;
  &:hover,
  &:focus {
    transition: color 500ms, border-color 500ms;
    border-color: $button-color--hover;
    background-color: $button-color--hover;
  }
}
.button-util{
  @include button-util-nav( $button-color-three );
  @include reverse-block-color();
}

.button-main{
  @include button-main-nav( $button-color );
  transition: color 500ms, border-color 500ms;
  &:hover,
  &:focus {
    transition: color 500ms, border-color 500ms;
    background-color: $color-teal;
  }
}

/**
 * Button Group
 */

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}
