
/**
 * Background Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  @include reverse-block-color();
  background-color: $bkg-teal;
}

.color-option-3 {
  @include reverse-block-color();
  background-color: $bkg-orange;
}
.color-option-4 {
  background-color: $bkg-tan;
}
.color-option-5 {
  @include reverse-block-color();
  background-color: $bkg-blue;

}


.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
