
/**
 * Lists
 */

ol,
ul {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;

  ul,
  ol {
    margin: 0.5em 0;
  }
}

li {
  margin: 0;

  + li {
    margin-top: 0.5em;
  }
}

.list-reset {
  @include list-reset();

  li {
    + li {
      margin-top: 0;
    }
  }
}
