
/**
 * Page Banner
 */

.banner {
  position: relative;
  padding: 6.9375em 0;
  width: 100%;
  background-color: $banner-bkg;
  // overflow: hidden;
  z-index: 1;
  @include breakpoint($bp-med){
    margin-bottom: 20px;
  }
  @include breakpoint($bp-large){
    padding: 7.3em 0;
    margin-bottom: 20px;
  }
  @include breakpoint($bp-xl){
    padding: 7.3em 0;
    margin-bottom: 20px;
  }
  @include breakpoint($bp-mega){
    padding: 7.555em 0;
    margin-bottom: 40px;
  }
}

.banner-title {
  position: relative;
  z-index: 10;

  .h1 {
    @include font-size(30);
    margin: 0;
    display: block;
    color: #fff;
    font-family: $font-heading;
    font-weight: 700;
    text-align: center;

    @include breakpoint($bp-large) {
      @include font-size(40);
      text-align: left;
    }
    @include breakpoint($bp-med) {
      @include font-size(50);
    }
  }
}

.banner-image {
  @include block-fit-cover( 100em );
  opacity: 1;
  opacity: 0.7;
  @include breakpoint($bp-large){
    opacity: 1;
  }
}

.banner-photo-block{
  @include breakpoint($bp-large){
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;
    height: 265px;
    width: calc(100% - (50% + -13.5em));
  }
  @include breakpoint($bp-large){
    height: 282px;
  }
  // @include breakpoint($bp-xl){
  // }
  @include breakpoint($bp-mega){
    height: 290px;
  }
  .inner-photo{
    &:before{
      content: url("../img/src/branding/pap_Innerpage_pattern.png");
      position: absolute;
      left: -450px;
      bottom: 0;
    }
   @include breakpoint($bp-large){
     position: relative;
     height: 100%;
   }
  }
}
