
/**
 * Button Block
 */

.button-block-layout {
  position: relative;
  overflow: hidden;
  .wrap {
    position: relative;
    z-index: 10;
    @include breakpoint($bp-med){
    }
  }
  .callout-content{
    line-height: 1.2;
    font-family: $font-heading;
    font-weight: 800;
    @include breakpoint($bp-large) {
      font-size: 18px;
    }
    p{
      margin-bottom: 2em;
    }
    h2{
      margin-bottom: 1em;
    }
 }
}

.button-block-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: 0.3;
}

.button-block {
  margin: -0.5em 0;
  text-align: center;

  @include breakpoint($bp-med) {
    margin: 0 -2em;
  }

  @include breakpoint($bp-med) {
    @supports ( display: flex ) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .callout-header,
  .callout-body {
    padding: 0.5em 0;

    @include breakpoint($bp-med) {
      padding: 0 2em;
    }
  }

  .callout-header {
    h2 {
      @supports ( display: flex ) {
        margin: 0;
      }
    }
  }
}

.button-callout-content {
  width: 100%;

  @include breakpoint($bp-large) {
    @supports ( display: flex ) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

}
