/**
 * Accordion Styles
 */

 .accordion-section-heading {
     margin-bottom: 1em;
     text-align: center;
    @include font-size(30);
 }

.accordion-title {
  border-bottom: 1px solid $color-teal;
  margin: 0;
  font-size: 24px;
  font-family: $font-heading;

  @include breakpoint($bp-med) {
        font-size: 30px;
  }


  > button {
    @include button-reset;
    display: block;
    position: relative;
    padding: 0.75em 0;
    padding-left: 1.6em;
    width: 100%;
    color: $heading-color;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 14px;
    font-family: $font-heading;

    @include breakpoint($bp-med) {
          font-size: 30px;
    }

    &::before {
      position: absolute;
      left: 0;
      top: calc(50% - 17px);
      width: 34px;
      height: 34px;
      background: transparent url('../svg/icons/accordion-button-plus.svg') center no-repeat;
      background-size: 34px 34px;
      content: ' ';
    }

    &.open {
      &::before {
        background: transparent url('../svg/icons/accordion-button-minus.svg') center no-repeat;
        background-size: 34px 34px;
      }
    }
  }
}

.accordion-content {
  padding: 1em 3em;
  border-bottom: 1px solid $color-teal;
  padding-left: 0;

  .color-option-2 & {
    border-bottom-color: darken( $color-teal, 15% );
  }
}
