
/**
 * Photo Block
 * ===
 * With fixed parallax option
 */

.photo-block-layout {
  position: relative;
  height: 20em;
  background-color: $color-blue--med;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.photo-block-layout--parallax {
  background-attachment: fixed;
}
