
/**
 * Hero Block
 */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35.4375em;
  min-height: 30em;
  max-height: 52.4375em;
  overflow: hidden;
  @include breakpoint($bp-xl){
    height: 34.4375em;
  }
  @include breakpoint($bp-mega){
    height: 43.5em;
  }
  &.background-image {
    background-color: $bkg-dark-grey;
  }

  .wrap {
    position: relative;
    max-width: 39.625em;
    width: 100%;
    z-index: 10;

    @include breakpoint($bp-large) {
      max-width: 55.625em;
    }
  }
}

.hero-bkg-image {
  @include block-fit-cover( 100em );
  opacity: 0.8;
}

.hero-box {
   margin-top: -8em;
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 2.125em;

    @include breakpoint($bp-large) {
      font-size: 3.125em;
    }
  }

  p {
    color: #fff;
    font-size: 1.375em;
  }

  .button {

  }
}
