.thirds-block{
  .wrap{
    display: flex;
    flex-direction: column;
    @include breakpoint($bp-med){
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
    .one-third{
      @include breakpoint($bp-med){
        flex: 1;
        img{
          margin: 0;
        }
       }
      }
    }
    .two-third{
      @include breakpoint($bp-med){
       flex: 2.5;
      }
    }
  }
