
/**
 * Entry Content
 */

.entry-content,
.page-content {

  // Add line below headings
  h1 {
    // position: relative;
    // margin-bottom: 1em;
    // padding-bottom: 1em;

    // &::after {
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   width: 37px;
    //   height: 2px;
    //   background-color: $heading-line;
    //   content: ' ';
    // }
  }

  // Custom list bullets
  > ul {

    ul {
      margin: 0;
    }

    li {
      position: relative;

      + li {
        margin-top: 0.15em;
      }

      &::marker {
        color: $ul-bullet-color;
      }
    }
  }

// .color-option-5, .color-option-3, color-option-2{
//   // Custom list bullets
//   > ul {
//
//     ul {
//       margin: 0;
//     }
//
//     li {
//       position: relative;
//
//       + li {
//         margin-top: 0.15em;
//       }
//
//       &::marker {
//         color: white !important;
//       }
//     }
//   }
// }

  hr{
    box-sizing: content-box;
    overflow: visible;
    margin: 1.75em 0;
    border: 0;
    width: 100%;
    height: 2px;
    background-color: #c6c1b7;
  }
  ul{
    padding-left: 1.8em;
  }

}


/**
 * Text Size / Heading Alts
 */

.p-lead {
  color: $color-orange;
  font-size: 1.25em;
  font-weight: 700;
}

.text--large {
  font-size: 1.0625em;
}

.text--small {
  font-size: 0.75em;
}


/**
 * Image Alignment
 */

.alignnone {
  display: block;
  margin: 1em 0;
}

.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 1em auto;
}

.alignright {
  @include breakpoint($bp-med) {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    max-width: 50%;
  }
}

.alignleft {
  @include breakpoint($bp-med) {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    max-width: 50%;
  }
}
