
/**
 * Global
 */

.site-main {
  position: relative;
  margin-top: 4.1875em;
  overflow: hidden;
  z-index: 1;

  @supports ( position: sticky ) {
    margin-top: 0;
  }

  // No margin for non-sticky header
  @include breakpoint($bp-med) {
    margin-top: 8em;

    @supports ( position: sticky ) {
      margin-top: 0;
    }
  }

  // margin for sticky header
  @media ( min-width: $bp-med ) and ( min-height: $bp-height-med ) {
    margin-top: 8em;

    @supports ( position: sticky ) {
      margin-top: 0;
    }
  }
}


/**
 * Layout Wraps
 */

.wrap {
  @include clearfix;
  margin: 0 auto;
  padding: $max-width-spacing;
  max-width: $max-width;
}

.wrap--limited {
  max-width: $max-width--small;
}

.wrap--full {
  max-width: none;

  @include breakpoint($bp-xl) {
    padding: $max-width-spacing--large;
  }
}
