
/**
 * Mobile Navigation
 */

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  transition: transform 350ms;

  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-med) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
}

.mobile-nav-header {
  padding: 2em 1em;
  text-align: right;

  a {
    display: inline-block;
    vertical-align: top;
  }
}

.navigation--mobile {
  padding: 2em 0;
  padding-top: 0;
}

.mobile-nav {
  @include list-reset;

  text-align: center;
  + .mobile-nav {
    margin-top: 1.875em;
    padding-top: 1.875em;
    border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;

    + li {}
  }

  a {
    display: inline-block;
    padding: .25em;
    color: $heading-color;
    font-family: $font-base;
    font-size: 1.625em;
    font-weight: 700;
    text-align: center;
    text-decoration: none !important;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: lighten($color-orange, 15%);
    }
  }

  .sub-menu {
    display: none;

    a {
      font-size: 1.125em;
    }
  }
}

.mobile-nav--main {
  text-align: center;
  .menu-item-has-children{
    a{
      position: relative;
      &:after{
        content: url(../svg/icons/triangle-icon.svg);
        position: absolute;
        right: -15px;
        top: 2px;
      }
    }
  }
}

.mobile-nav--utility {
  a {
    font-size: 1em;
  }
}

li.button-main{
  margin-top: 1.25em;
  a{
    color: $color-teal;
  }
  &:hover{
    a{
      color: $color-white;
    }
  }
}

.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;

  .search-bar {
    .search-submit {
      border-color: $text-color;
      font-size: 1.1875em;
      background: $text-color;

      &:hover,
      &:focus {
        background: $text-color;
        border-color: $text-color;
      }
    }

    .search-field {
      border: 1px solid $text-color;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $text-color;
      }
    }
  }
}
