
/**
 * Footer Navigation
 */

.navigation--footer {
  text-align: center;
  @include breakpoint($bp-med){
    text-align: left;
  }

  ul {
    line-height: 1;

    li {
      vertical-align: baseline;
      margin-right: -5px;
      display: block !important;

      + li {
        margin-left: 0;
        border-left: 1px solid rgba( #fff, 0.3 );
        margin-top: 0.625em;
      }
    }
  }

  a {
    display: block;
    padding: 0 0.75em;
    text-decoration: none;
    padding-left: 0;
    color: $color-teal !important;
    font-weight: 700;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .sub-menu {
    display: none;
  }
}
