
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;

  > ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  li {
    position: relative;
  }

  a {
    display: block;
    padding: 0.5em 0.15em;
    color: $main-nav-color;
    font-family: $font-base;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;

    @include breakpoint($bp-large) {
      font-size: 0.9375em;
    }

    @include breakpoint($bp-xl) {
      font-size: 1em;
    }

    &:hover,
    &:focus {
      color: $main-nav-color--hover;
      text-decoration: none;
    }
  }
  .button-main{
    li{

    }
    a{
      padding: 0;
      color: $color-teal;
      font-size: 16px;
      &:hover{
        color: $color-white;
      }
    }
  }

  > ul {
    > li {
      + li {
        margin-left: 1.5em;
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $main-nav-color--active;
    }
  }


  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: $color-teal;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;

    li {
      display: block;
      margin: 0;
    }

    > li {
      + li {
        border-top: 1px solid darken($color-white, 15%);
      }
    }

    a {
      padding: 1em 0;
      color: #fff;
      font-size: 1em;

      &:hover,
      &:focus {
        color: $sub-nav-color--hover;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
     > a {
        color: $sub-nav-color--hover;
      }
    }
    .sub-menu{
      background-color: $color-blue;
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }
  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }

  .menu-item-has-children{
    a{
      position: relative;
      &:after{
        content: url(../svg/icons/triangle-icon.svg);
        position: absolute;
        right: -15px;
        top: 6px;
      }
    }
    + li{
     margin-left: 2.5em;
    }
    .sub-menu{
      a{
        display: inline-block;
      }
       .menu-item-has-children{
          position: relative;
          &:after{
            content: url(../svg/icons/triangle-icon.svg);
            display: block;
            display: inline-block;
            margin-left: 10px;
          }
          + li{
            margin-left: 0;
          }
        }
      a{
        &:after{
          display: none;
        }
      }
    }
  }
}

li {
  position: relative;
  &:nth-of-type(2){
    // border: 2px solid green;
    > .sub-menu{
      li{
        &:nth-of-type(3){
          // border: 2px solid purple;
        >  .sub-menu{
            // border: 2px solid pink;
            @include breakpoint($bp-large){
              top: -135px;
              // border: 2px solid pink;
              // overflow-y: scroll;
              // height: 530px;
              li{
                a{
                  font-size: 14px;
                }
              }
            }
            @include breakpoint($bp-mega){
              top: -50px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
