
/**
 * Sidebar Navigation
 */

.sidebar-nav {

  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;

    + li {
      border-top: 1px solid $border-color;
    }
  }

  a {
    display: block;
    padding: 0.75em 0;
    color: $color-blue;
    text-decoration: none;
    font-weight: 700;
    transition: color 500ms;
    font-size: 16px;
    &:hover,
    &:focus {
      color: $color-teal;
    }
  }

  .children {
    display: none;
    margin-left: 1em;
    .current_page_item,
    .current_page_ancestor {
      > a {
        color: $color-blue;
        font-weight: 700 !important;
        &:hover,
        &:focus {
          color: $color-teal !important;
        }
      }
    }
   .page_item_has_children{
     padding-top: 16px;
      border-top: 1px solid $border-color;
   }
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      color: $color-blue !important;
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }


  .children{
    li{
      a{
        font-weight: 400 !important;
        padding-top: 0;
      }
    }
    li + li{
      border-top: none;
    }
     // .children{
     // }
  }
}

.page_item_has_children{
  position: relative;
  &:after{
    content: url(../svg/icons/sidebar-arrow-nav-teal--light.svg);
    position: absolute;
    right: 0;
    top: 9px;
    bottom: 0;
  }
}
