
/**
 * Utility Navigation
 */

.navigation--utility {
  margin-bottom: 1.0625em;
  text-align: right;
  display: flex;
  justify-content: flex-end;

  li {
    + li {
      padding-left: 0.75em;
      border-left: 1px solid $border-color;
    }
  }
  li{
    a.button-util{
      font-size: 0.875em;
    }
  }

  a {
    display: block;
    margin: -5px 0;
    // padding: 0.5em 0.15em;
    color: $utility-nav-color;
    font-weight: 700;
    font-family: $font-base;
    text-transform: uppercase;
    text-decoration: none !important;

    &:hover,
    &:focus {
      color: $utility-nav-color--hover;
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $utility-nav-color--active;
    }
  }

  .sub-menu {
    display: none;
  }
  .header-contact-us{
    display: flex;
    align-items: center;
    margin-right: 1.5625em;
    p{
      margin-bottom: 0;
      margin-top: -2px;
      margin-left: 3px;
      a.header-phone{
        margin-top: -0.125em;
        margin-left: 0.125em;
        font-size: 0.9375em;
      }
    }
    h4.contact-header{
      font-family: $font-base;
      position: relative;
      font-size: 0.9375em;
      @include breakpoint($bp-med){
        margin-bottom: 0;
      }
      &:before{
        content: url(../svg/icons/phone-icon.svg);
        position: absolute;
        left: -26px;
        top: 0px;
      }
    }
  }
}
