
.search-bar {
  @include font-size(17);
  line-height: 1;

  .search-form {
    position: relative;
    border: 3px solid $color-teal;
    input{
      border: none;
    }
    ::placeholder{
      color: $color-teal !important;
      font-weight: 700;
    }

  }

  label {
    padding-right: 2.3em;
  }

  .search-field,
  .search-submit {
    font-size: inherit;
    line-height: inherit;
  }

  .search-field {
    display: block;
    width: 100%;
  }

  .search-submit {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .65em;
    height: 100%;
    background-color: $color-teal;
    border: none !important;
    &:hover,
    &:focus {
      // color: #fff;
    }

    svg {
      display: block;
      width: 17px;
      height: 17px;
    }
  }

  .page-content & {
    max-width: 22em;
  }
}
