
/**
 * Breakpoint Values
 */

// Widths
$bp-xsmall: 20em;   // 320px
$bp-small:  30em;   // 480px
$bp-med:    47.5em; // 760px
$bp-large:  60em;   // 960px
$bp-xl:     75em;   // 1200px
$bp-mega:   90em;   // 1440px

// Heights
$bp-height-med: 35.625em; // 570px


/**
 * Breakpoint Functions
 */

// @use "sass:math";

// @function bp-px2em( $px, $base-font-size: 16px ) {
//   @if unitless( $px ) {
//     @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels.";
//     @return bp-px2em( $px * 1px, $base-font-size );
//   } @else if unit( $px ) == em {
//     @return $px;
//   }
//   @return ( $px / $base-font-size ) * 1em;
// }

@mixin breakpoint( $from: false, $until: false, $media-type: 'all' ) {
  $min-width: 0;
  $max-width: 0;
  $media-query: '';

  @if ( $from ) {
    $min-width: $from;
  }

  @if ( $until ) {
    $max-width: $until;
  }

  @if ( $min-width != 0 and $max-width != 0  ) {
    $media-query: '(min-width: #{$min-width}) and (max-width: #{$max-width})';
  } @else if ( $min-width != 0 ) {
    $media-query: '(min-width: #{$min-width})';
  } @else if ( $max-width != 0 ) {
    $media-query: '(max-width: #{$max-width})';
  }

  @if ( $media-type != 'all' ) {
    $media-query: '#{$media-type} and #{$media-query}';
  }

  @media #{$media-query} {
    @content;
  }
}
