
/**
 * Mixins
 */

@use "sass:math";


/**
 * Font Size Converter - px to em
 * ---
 * 16px -> 1em
 */

@mixin font-size( $sizeValue: 1.6 ) {
  font-size: math.div( $sizeValue, 16 ) + em;
}


/**
 * Utils
 * ---
 */

// Clearfix (no old IE support cause why)
@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: ' ';
  }
}


// Image Replacement
@mixin image-replace($width, $height) {
  width: $width;
  height: $height;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}


// Image Replacement (modern)
@mixin ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


// Vis Hidden
@mixin visuallyhidden {
  position: absolute;
  border: 0 none;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect( 0 0 0 0 );

  // Allow focus
  &.focusable:active,
  &.focusable:focus {
    position: static;
    margin: 0;
    width: auto;
    height: auto;
    white-space: inherit;
    overflow: visible;
    clip: auto;
  }
}



/**
 * Resets and Typography Utils
 * ---
 */

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin nav-item-reset() {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

@mixin link-reset() {
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-reset() {
  @include link-reset();
  display: inline-block;
  vertical-align: baseline;
  padding: 0;
  border: 0 none;
  text-align: center;
  background-color: transparent;
  transition: color 500ms, background 500ms;
  font-family: $font-base;
  font-size: 16px;
}

@mixin button( $color ) {
  @include button-reset();
  padding: 1em 1.5em;
  color: $color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: transparent;
  border: 3px solid $color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:after{
    content: url(../svg/icons/button-arrow-white.svg);
    margin-left: 1em;
  }

  &:hover,
  &:focus {
    background-color: $color;
    color: $color-white;
  }
}
@mixin button-two( $color ) {
  @include button-reset();
  padding: 1em 1.5em;
  color: $color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: transparent;
  border: 3px solid $color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 500ms, background-color 500ms;
  &:after{
    content: url(../svg/icons/button-arrow-teal.svg);
    margin-left: 1em;
  }

  &:hover,
  &:focus {
    transition: color 500ms, background-color 500ms;
    background-color: $color;
    color: $color-white;
    &:after{
      content: url(../svg/icons/button-arrow-white.svg);
    }
  }
}
@mixin button-five( $color ) {
  @include button-reset();
  padding: 1em 1.5em;
  color: $color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: transparent;
  border: 3px solid $color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 500ms, background-color 500ms;
  &:after{
    content: url(../svg/icons/button-arrow-orange-blue.svg);
    margin-left: 1em;
  }

  &:hover,
  &:focus {
    transition: color 500ms, background-color 500ms;
    background-color: $color;
    color: $color-white;
    &:after{
      content: url(../svg/icons/button-arrow-white.svg);
    }
  }
}
@mixin button-three( $color ) {
  @include button-reset();
  padding: 1em 1.5em;
  color: $color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: transparent;
  border: 3px solid $color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 500ms, background-color 500ms;
  &:after{
    content: url(../svg/icons/button-arrow-orange-light.svg);
    margin-left: 1em;
  }

  &:hover,
  &:focus {
    transition: color 500ms, background-color 500ms;
    background-color: $color;
    color: $color-white;
    &:after{
      content: url(../svg/icons/button-arrow-white.svg);
    }
  }
}
@mixin button-three( $color ) {
  @include button-reset();
  padding: 1em 1.5em;
  color: $color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: transparent;
  border: 3px solid $color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 500ms, background-color 500ms;
  &:after{
    content: url(../svg/icons/button-arrow-orange-light.svg);
    margin-left: 1em;
  }

  &:hover,
  &:focus {
    transition: color 500ms, background-color 500ms;
    background-color: $color;
    color: $color-white;
    &:after{
      content: url(../svg/icons/button-arrow-white.svg);
    }
  }
}
@mixin button-four( $color ) {
  @include button-reset();
  padding: 1em 1.5em;
  color: $color;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: transparent;
  border: 3px solid $color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 500ms, background-color 500ms;
  &:after{
    content: url(../svg/icons/button-arrow-orange-dark.svg);
    margin-left: 1em;
  }

  &:hover,
  &:focus {
    transition: color 500ms, background-color 500ms;
    background-color: $color;
    color: $color-white;
    &:after{
      content: url(../svg/icons/button-arrow-white.svg);
    }
  }
}

@mixin button-util-nav( $color ) {
  @include button-reset();
  padding: 1em 1.5em;
  color: #fff;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: $color;

  &:hover,
  &:focus {
    color: #fff;
    background: darken($color, 15%);
  }
}

@mixin button-main-nav( $color ) {
  @include button-reset();
  padding: 1em 1.5em;
  color: $color-teal !important;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  background: transparent;
  border: 3px solid $color;

  &:hover,
  &:focus {
    color: $color;
    border: 3px solid $color;
  }
}


/**
 * Blocks
 */

// Reverse the colors of text
// within a block
@mixin reverse-block-color() {
  color: #fff;

  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  a:not(.button, .button-two, .button-one, .ip-button-green, .ip-button-orange, .ip-button-orange--light, .ip-button-white, .ip-button-blue) {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
  li {
    position: relative;

    + li {
      margin-top: 0.15em;
    }

    &::marker {
      color: white !important;
    }
  }
}

// Mimic 'background-size: cover' on a
// block. Parent el needs position relative.
@mixin block-fit-cover( $min-width: 100em ) {
  display: block;
  position: absolute;
  left: -9999px;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  min-width: $min-width;
  user-drag: none;
  user-select: none;
  z-index: 1;

  @supports ( object-fit: cover ) {
    object-fit: cover;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
  }
}
