/**
 * Variables
 */


/**
 * Fonts
 * ---
 */

$font-base:    'Open Sans', sans-serif;
$font-heading: 'Crimson Text', serif;



/**
 * Color Variables
 * ---
 * Main colors. Replace these with your own.
 */

// Main Colors
$color-black:         #282d2f;
$color-white:         #fff;
$color-grey--dark:    #5b676b;
$color-grey--med:     #899296;

// Secondary Colors
$color-grey--med-2:   #abb6bb;
$color-grey--light:   #f2eee9;

// Utility Colors
$color-red:           #ab2b2b;
$color-green:         #2bab2b;



/**
 * Theme Colors
 * ---
 * The theme colors define specific elements
 * of the template.
 */

$color-teal: #008094;
$color-orange: #F45F1F;
$color-orange--light: #F9A435;
$color-blue: #003C72;
$color-blue--med: #013A72;
$color-tan: #F7F3EE;

/**
 * Typography Colors
 */

// Text Colors
$text-color:          $color-blue--med;
$heading-color:       $color-blue;

// Link Colors
$link-color:          $color-teal;
$link-color--hover:   darken( $color-teal, 10% );

// Button Colors
$button-color:        $color-teal;
$button-color--hover: darken( $button-color, 10% );

$button-color-five:        $color-blue;
$button-color-five--hover: darken( $button-color-five, 10% );


$button-color-two:        $color-orange;
$button-color-two--hover: darken( $button-color-two, 10% );

$button-color-three:        $color-orange--light;
$button-color-three--hover: darken( $button-color-three, 10% );


$button-color-four:        $color-white;
$button-color-four--hover: darken( $button-color-four, 10% );






// List Colors
$ul-bullet-color:     $color-teal;

// Inputs
$input-text-color:    $text-color;
$input-border-color:  $color-grey--med;
$input-border--focus: darken( $input-border-color, 10% );

// Icons
$icon-color:          $color-grey--dark;
$icon-color--hover:   darken( $icon-color, 10% );


/**
 * Navigation Colors
 */

// Generic
$nav-link-color:          $color-grey--dark;
$nav-link-color--hover:   darken( $nav-link-color, 10% );
$nav-link-color--active:  darken( $nav-link-color, 10% );


// Main nav
$main-nav-color:          $color-blue;
$main-nav-color--hover:   darken( $main-nav-color, 10% );
$main-nav-color--active:  darken( $main-nav-color, 10% );


$sub-nav-color:          $color-orange--light;
$sub-nav-color--hover:   darken( $sub-nav-color, 10% );
$main-nav-color--active:  darken( $sub-nav-color, 10% );

// Utility
$utility-nav-color:          $color-blue;
$utility-nav-color--hover:   darken( $utility-nav-color, 10% );
$utility-nav-color--active:  darken( $utility-nav-color, 10% );


/**
 * Block Colors
 */

// Background Colors
$bkg-light-grey:  $color-grey--light;
$bkg-med-grey:    $color-grey--med;
$bkg-dark-grey:   $color-grey--dark;
$bkg-black:       $color-black;

$bkg-teal:        $color-teal;
$bkg-orange:      $color-orange;
$bkg-tan:         $color-tan;
$bkg-blue:        $color-blue;

// Border Colors
$border-color:    #C6C1B7;

// Site background colors
$banner-bkg:      $color-teal;
$header-bkg:      #fff;
$footer-bkg:      $color-tan;



/**
 * UI Colors
 */

$ui-error:    $color-red;
$ui-success:  $color-green;



/**
 * Layout
 * ---
 */

// 1200px + 3em padding ($max-width-spacing)
$max-width:         78em;
// 1200px + 4em padding ($max-width-spacing--large)
$max-width--large:  79em;
// 932px + 3em padding ($max-width-spacing)
$max-width--small:  61.25em;

$max-width-spacing:         0 1.5em;
$max-width-spacing--large:  0 2em;

$padding:                   3em;
$padding-medium:            3em;
$padding-large:             4em;

$vertical-padding:          3em 0;
$vertical-padding-medium:   3em 0;
$vertical-padding-large:    4em 0;

$horizontal-padding:        0 3em;
$horizontal-padding-medium: 0 3em;
$horizontal-padding-large:  0 4em;

$column-gutter:             2em;
$grid-gutter:               2em;



/**
 * Design/Animation
 * ---
 */

/**
 * Block design elements
 */

$border-radius: 3px;
$box-shadow: 0 0.15em 0.15em rgba( 0, 0, 0, 0.12 );
$box-shadow--light: 0 0 0.3125em rgba( 255, 255, 255, .5 );

// // Transitions
// $transition:        all 1s;
// $transition-fast:   all .5s;
// $transition-faster: all .25s;
// $transition-slow:   all 2s;
// $transition-slower: all 2.5s;
